.centre {
  list-style-type: none;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.245);
  /* border-radius: 30px; */
  margin: auto;
  width: 97%;
  padding: 10px;
  text-align: left;
  margin: 10px;
}

/* .articleContainer {
  display: flex;
  flex-direction: horizontal;
}

.imageContainer {
  height: 310px;
  width: 310px;
  justify-content: space-between;
}

.image {
  border: solid;
  height: 500px;
  width: 500px;
} */

.list {
  padding: 0px;
  margin: 0px;
  /* text-align: left; */
}

/* .unorderedList {
  width: 2000px;
  height: 310px;
} */

.flex-container {
  display: flex;
  flex-direction: horizontal;
  padding: 5px;
}

.flex-container > div {
  width: 200px;
  height: 200px;
}

.flex-container > section {
  width: 2000px;
  height: 200px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.heading {
  text-align: left;
  color: black;
  margin: 0px;
}

.articleImage {
  width: 200px;
  height: 200px;
  border-radius: 30%;
}
